Repository aranya-project/aranya, changes with the owners that .github/CODEOWNERS names for each.
All owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok, @nikki-aranya, @chip-so

use joinset for hello notifications
  crates/aranya-daemon/src/sync/task.rs
  crates/aranya-daemon/src/sync/task/hello.rs
  crates/aranya-daemon/src/sync/task/quic.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

fix typo
  crates/aranya-daemon/src/api.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

Build binaries all at once
  examples/rust/aranya-example-multi-node/run.bash
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

remove_if cache
  crates/aranya-daemon/src/afc.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

todos
  crates/aranya-daemon/src/afc.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

let operator manage label
  crates/aranya-client/src/client/team.rs
  crates/aranya-daemon-api/src/service.rs
  crates/aranya-daemon/src/api.rs
  examples/rust/aranya-example-multi-node/src/admin/main.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

Check author has CanChangeRolePerms when changing role permissions
  crates/aranya-daemon/src/policy.md
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @chip-so

Clarify role deletion status
  crates/aranya-daemon/src/policy.md
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @chip-so

move RevokeRole perm check into can_revoke_role()
  crates/aranya-daemon/src/policy.md
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @chip-so

Whoops
  crates/aranya-daemon/src/policy.md
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @chip-so

custom roles: afc channel deletion (#542)
  crates/aranya-client/tests/afc.rs
  crates/aranya-daemon/src/actions.rs
  crates/aranya-daemon/src/afc.rs
  crates/aranya-daemon/src/api.rs
  crates/aranya-daemon/src/daemon.rs
  crates/aranya-daemon/src/policy.md
  crates/aranya-daemon/src/policy.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok, @chip-so

C API updates
  crates/aranya-client-capi/output/aranya-client.h
  crates/aranya-client-capi/src/api/defs.rs
  crates/aranya-client-capi/src/imp/client.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok, @nikki-aranya

Turns out the management perm checks weren't needed
  crates/aranya-daemon/src/policy.md
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @chip-so

use find
  examples/rust/aranya-example-multi-node/src/admin/main.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

custom-roles: fix multi-node rust example (#567)
  crates/aranya-client/src/client/team.rs
  crates/aranya-daemon-api/src/service.rs
  crates/aranya-daemon/src/api.rs
  examples/rust/aranya-example-multi-node/run.bash
  examples/rust/aranya-example-multi-node/src/admin/main.rs
  examples/rust/aranya-example-multi-node/src/owner/main.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

evaluate unit test coverage
  crates/aranya-client/tests/afc.rs
  crates/aranya-client/tests/tests.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

implement missing queries, rm obsolete todos
  crates/aranya-client/tests/tests.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

rm close_team(), test sync peers
  crates/aranya-client-capi/output/aranya-client.h
  crates/aranya-client-capi/src/api/defs.rs
  crates/aranya-client/src/client/team.rs
  crates/aranya-client/tests/tests.rs
  crates/aranya-daemon-api/src/service.rs
  crates/aranya-daemon/src/api.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok, @nikki-aranya

keybundle, dev id, rand, sync peer coverage
  crates/aranya-client/tests/common/mod.rs
  crates/aranya-client/tests/tests.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

test role queries
  crates/aranya-client/tests/tests.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

.github/CODEOWNERS:

* @djohnson-spideroak @gknopf-aranya @jdygert-spok @ssweetney-spok

crates/aranya-client-capi @djohnson-spideroak @gknopf-aranya @jdygert-spok @ssweetney-spok @nikki-aranya
examples/c @djohnson-spideroak @gknopf-aranya @jdygert-spok @ssweetney-spok @nikki-aranya

crates/aranya-metrics @djohnson-spideroak @gknopf-aranya @jdygert-spok @nikki-aranya

crates/aranya-daemon/src/policy.md @djohnson-spideroak @gknopf-aranya @jdygert-spok @chip-so
