Repository aranya-project/aranya, changes with the owners that .github/CODEOWNERS names for each.
All owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok, @nikki-aranya, @chip-so

.github/CODEOWNERS:

* @djohnson-spideroak @gknopf-aranya @jdygert-spok @ssweetney-spok

examples/c @nikki-aranya
crates/aranya-metrics @nikki-aranya
crates/aranya-client-capi @nikki-aranya

crates/aranya-daemon/src/policy.md @chip-so

Regenerate C API header file with updated documentation
  crates/aranya-client-capi/output/aranya-client.h
Owners: @nikki-aranya

rm priority ephemeral cmds
  crates/aranya-daemon/src/policy.md
Owners: @chip-so

init
  crates/aranya-daemon/src/policy.md
Owners: @chip-so

space between
  crates/aranya-daemon/src/policy.md
Owners: @chip-so

more space
  crates/aranya-daemon/src/policy.md
Owners: @chip-so

fix overflow
  examples/c/example.c
Owners: @nikki-aranya

More typo fixes
  crates/aranya-daemon/src/policy.md
Owners: @chip-so

Add test for assigning a role twice
  crates/aranya-client/src/client/team.rs
  crates/aranya-client/tests/tests.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

priority docs
  crates/aranya-daemon/src/policy.md
Owners: @chip-so

Update crates/aranya-daemon/src/policy.md
  crates/aranya-daemon/src/policy.md
Owners: @chip-so

revert change_role
  crates/aranya-client/src/client/team.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

Update crates/aranya-daemon/src/policy.md
  crates/aranya-daemon/src/policy.md
Owners: @chip-so

Update crates/aranya-daemon/src/policy.md
  crates/aranya-daemon/src/policy.md
Owners: @chip-so

Update crates/aranya-daemon/src/policy.md
  crates/aranya-daemon/src/policy.md
Owners: @chip-so

policy: add priorities to commands (#425)
  crates/aranya-daemon/src/policy.md
Owners: @chip-so

remove label assignment to roles from policy
  crates/aranya-client-capi/output/aranya-client.h
  crates/aranya-client/src/client/team.rs
  crates/aranya-client/tests/tests.rs
  crates/aranya-daemon-api/src/service.rs
  crates/aranya-daemon/src/actions.rs
  crates/aranya-daemon/src/api.rs
  crates/aranya-daemon/src/policy.md
  crates/aranya-daemon/src/policy.rs
  crates/aranya-daemon/src/test.rs
Owners: @nikki-aranya, @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok, @chip-so

rm trampoline
  crates/aranya-daemon/src/policy.md
Owners: @chip-so

text
  crates/aranya-client/tests/tests.rs
  crates/aranya-daemon/src/api.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok

Generate C API header
  crates/aranya-client-capi/output/aranya-client.h
Owners: @nikki-aranya

rm query filter
  crates/aranya-daemon/src/policy.md
Owners: @chip-so

custom roles: remove label assignment to roles from policy (#561)
  crates/aranya-client/src/client/team.rs
  crates/aranya-client/tests/tests.rs
  crates/aranya-daemon-api/src/service.rs
  crates/aranya-daemon/src/actions.rs
  crates/aranya-daemon/src/api.rs
  crates/aranya-daemon/src/policy.md
  crates/aranya-daemon/src/policy.rs
  crates/aranya-daemon/src/test.rs
Owners: @djohnson-spideroak, @gknopf-aranya, @jdygert-spok, @ssweetney-spok, @chip-so

trampoline
  crates/aranya-daemon/src/policy.md
Owners: @chip-so
